<div homepage-controller class="homepage-controller" ng-cloak>
  <div class="schedule" ng-repeat="schedule in homepage.schedules" >
    <div class="schedule-top">
      <div class="schedule-title float-left">{{schedule.title}}</div>
      <div class="schedule-date float-right">{{schedule.date| date:'medium'}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="description" ng-bind-html="schedule.text"></div>
  </div>
</div>
