<div pages-controller class="pages-controller" ng-cloak>
  <div class="pages" ng-repeat="page in pages.items" >
    <div class="schedule-top">
      <div class="schedule-title float-left">{{page.title}}</div>
      <div class="schedule-date float-right">{{page.date| date:'medium'}}</div>
    </div>
    <div class="clearfix"></div>
    <div class="description" ng-bind-html="page.text"></div>
  </div>
</div>