/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require sizing
 *= require_self
 *= require article
 *= require typography
 *= require schedules
 *= require pages
 *= require layout
 *= require icons
 *= require clearfix
 *= require bootstrap
 */
html,body{
  width: 100%;
  height: 100%;
  background: #E8EDE0;
}
html{

}
.top-nav{
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding-top: 30px;
}
.upper-nav{
  text-align:center;
  height: 100px;
  width:100%;
}
.lower-nav{
  text-align: center;
  margin-top: 20px;
  height: 40px;
}
.nav-bar{
  margin: 0;
  list-style-type: none;
}
.nav-bar > li{
  color: #102E37;
  font-size: 23px;
  margin: 10px;
  display:inline;
}
a{
  color: #102E37;
  text-decoration: none;
  -webkit-transition:color .2s ease-in;  
  -moz-transition:color .2s ease-in;  
  -o-transition:color .2s ease-in;  
  transition:color .2s ease-in; 
}
a:hover{
  color: #2BBBD8;
  text-decoration: none;
  
}
.body{
  text-align:center;
  margin-top: 50px;
  /*margin-top: 50px;*/
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}
.description{
  text-align: left;
}

.schedule-top + .clearfix{
  margin-bottom: 15px;
  
}
.schedule-title{
  font-size: 25px;
  font-weight: bold;
}
.schedule{
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
