//@wimport url(https://fonts.googleapis.com/css?family=Stalemate);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
@import 'breakpoint';

$iphone: 5px 1136px;
$normal: 1136px;

body {
  font-family: 'Open Sans', arial, verdana, tahoma, sans-serif!important;
  font-weight: 300!important;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal!important;
}

.date{
  font-size: 12px;
}

.__heading--title { 
  font-family: 'Stalemate', cursive; 
  @include breakpoint($iphone) {
    font-size: 70px;
  }
  @include breakpoint($normal) {
    font-size: 90px;
  }
  color: #102E37;
}
