@import url(http://fonts.googleapis.com/css?family=Stalemate);
/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('/assets/leaguegothic-italic-webfont.eot');
    src: url('/assets/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/leaguegothic-italic-webfont.woff') format('woff'),
         url('/assets/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('/assets/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('/assets/leaguegothic-regular-webfont.eot');
    src: url('/assets/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/leaguegothic-regular-webfont.woff') format('woff'),
         url('/assets/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('/assets/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/assets/leaguegothic-condensed-regular-webfont.eot');
    src: url('/assets/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('/assets/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
         url('/assets/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('/assets/leaguegothic-condensed-italic-webfont.eot');
    src: url('/assets/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('/assets/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
         url('/assets/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
    font-weight: normal;
    font-style: italic;
}


body {
  font-family: 'League Gothic';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
}
/*i{
  font-family: 'League Gothic';
  font-size: 17px;
  font-weight: normal;
  font-style: italic;
}*/
b{
  
}
h1.title { 
  font-family: 'Stalemate', cursive; 
  font-size: 60px;
  color: #102E37;
}