@import url(http://fonts.googleapis.com/css?family=Stalemate);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import 'breakpoint';

$iphone: 5px 1136px;
$normal: 1136px;

body {
  font-family: 'Roboto'!important;
  //font-weight: 700; 
  font-size: 13px;
  font-style: normal;
  letter-spacing: 1.1px;
}
b{
  
}
.date{
  font-family: 'Roboto'; 
  font-size: 12px;
}
.__heading--title { 
  font-family: 'Stalemate', cursive; 
  @include breakpoint($iphone) {
    font-size: 70px;
  }
  @include breakpoint($normal) {
    font-size: 90px;
  }
  color: #102E37;
}
