.typography--SECONDARY-HEADING {
  margin-bottom: 10px;
}
.typography--DATE {
  margin-bottom: 30px;
}

.typography--AREA {
  test-align: left;
  margin-bottom: 80px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
