.typography--SECONDARY-HEADING {
  margin-bottom: 10px;
}
.typography--PRIMARY-HEADING {
  a:hover{
    text-decoration:none;
    color: rgb(14,52,63);
  }
}
.typography--DATE {
  margin-bottom: 30px;
}

.typography--AREA {
  text-align: left;
  margin-bottom: 80px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.body,.inner{ min-height: 200px;}
